.privacypolicy-css {

    ul {
        list-style-type: none;
        padding-left: 0px !important;
    }

    .main-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #4563E4
    }

    table{
        border:1px solid black;
    }

    .updated-date {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .text-subheading1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .text-heading {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 23.44px;
        color: #171E42;
        margin-top: 20px;
    }

    .text-subheading2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .text-subheading3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text-subheading4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .provide-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        font-style: italic;
        line-height: 18.75px;
        color: #6F7387
    }

    .click_text {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
        color: #4563E4
    }

    li::marker {
        color: #6F7387;
    }

    .box1 {
        padding-left: 33px;
        display: flex;
        flex-wrap: wrap;
    }

    .subtext {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
    }

    .headpoint {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
    }

    .list-content {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        padding-top: 18px;
    }

    .custom-table {
        --bs-table-bg: none;
        --bs-table-color: none;
        --bs-table-accent-bg: none;
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid #d3cbcb;
        margin-top: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    
    
    .custom-table thead {
        background-color: #4563e4;
        color: white;
        text-align: center;
    }
    
    .custom-table th, .custom-table td {
        padding: 12px;
        // vertical-align: middle;
        border: 1px solid #d3cbcb;
    }
    
    .custom-table tbody tr:nth-child(odd) {
        background-color: #e5eaff;
    }
    
    .custom-table tbody tr:nth-child(even) {
        background-color: #ffffff;
    }
    
    .custom-table ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .custom-table ul li {
        margin-bottom: 8px;
    }
    
    .custom-table .no-list-style {
        list-style: none;
    }
    

    // .header-css{
    //     background-color: #4563e4 !important;
    //     color: white !important;
    //     text-align: center;
    // }

    // .table tbody tr:nth-child(odd) {
    //     background-color: #f9f9f9; /* Light gray */
    // }
    // .table tbody tr:nth-child(even) {
    //     background-color: #e9e9e9; /* Slightly darker gray */
    // }
    
    // /* Optional: Add hover effect */
    // .table tbody tr:hover {
    //     background-color: #d3d3d3; /* Highlight row on hover */
    // }
}