.dashboardHome {
    overflow-y: hidden;

    .hide-on-large-screens-dashboard {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #EDEDED;
        padding: 5px 16px;
        font-family: 'Roboto', sans-serif;

        @media only screen and (min-width: 821px) {
            display: none;
        }

        .dashboardTextForMobile {
            font-size: 14px;
            font-weight: 500;
            // line-height: 16.71px;
            letter-spacing: 0.15000000596046448px;
            color: #4563E4;
            cursor: pointer;
        }
    }

    .dashboardLeftboxHideClass {
        @media only screen and (max-width: 820px) {
            display: none !important;
        }
    }

    .dashboardRightBoxNewsHide {
        overflow-y: scroll;
        border-left: 1px solid #E5E5E5;

        @media only screen and (max-width: 820px) {
            display: none !important;
        }
    }

    .dashboard {

        // display: flex;
        // align-items: flex-start;
        // justify-content: flex-end;
        // flex-direction: column;
        .dashboard-container {
            padding-left: 20px;
            padding-right: 20px;

            .mobile-scroll-dashboard {
                overflow-y: auto;
            }

            .mobile-scroll-dashboard::-webkit-scrollbar {
                display: none;
            }
        }

        .stories-title {
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 18.75px;
            color: #171E42;
        }

        .marginCustomDashboard {
            margin-right: 16px;

            @media only screen and (max-width: 500px) {
                margin-right: 0px;
            }
        }

        .dashboard-slider {
            padding-left: 20px;

            @media only screen and (max-width: 500px) {
                padding-right: 20px;
            }
        }

        .form-group {
            width: 100%;

            .form-control {
                border-radius: 15px;
                border: 1px solid #4563E4;
                background: #F1F4FD;
                height: 56px;
                padding: 6px 16px;
            }
        }

        .box-content {
            .mostOnFrruitBox {
                background-color: #E8ECFB99;
                padding: 12px 24px;
                border-radius: 15px;
                cursor: pointer;
                margin-right: 10px;
            }

            .text {
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 14.06px;
                color: #6F7387;
            }

            .title {
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 18.75px;
                color: #171E42;
            }

            .viewAllTeaxt {
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 16.41px;
                color: #4563E4;
                cursor: pointer;
            }
        }

        .suggested-prompts-container {
            margin-top: 20px;

            .prompts-text-bg {
                border-radius: 15px;
                background: #F5F5F6;
                padding: 16px;
                height: 68px;
                display: flex;
                align-items: center;
            }

            .prompts-text {
                color: #6F7387;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                width: 90%;

            }

            .search-dashboard-main {
                display: flex;
                align-items: center;
                cursor: pointer;
                z-index: 10;
                position: relative;

                .text-main-bg {
                    display: flex;
                    align-items: center;
                    border-radius: 15px;
                    border: 1px solid #4563E4;
                    background: #F1F4FD;
                    padding: 16px 16px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    width: 100%;
                }

                .send-image {
                    background: #F5F5F6;
                    width: 67px;
                    height: 56px;
                    object-fit: contain;
                    border-radius: 15px;
                    margin-left: 10px;
                }
            }
        }

    }

}

// .slick-next:before {
//     content: none !important;
// }

.custom-modal {
    backdrop-filter: blur(2px) !important;

    .slick-prev {
        left: -480px !important;
    }

    .slick-next {
        right: -480px !important;
    }

    .modal-body {
        padding: 40px !important;
    }

    .modal-header {
        border-bottom: 0px !important;
    }

    .modal-content {
        background-color: transparent !important;
        border: 0px !important;
    }

    .btn-close {
        position: absolute;
        top: 0px;
        right: -317px;
    }

    .slick-prev:before {
        content: none !important;
    }

    .slick-next:before {
        content: none !important;
    }

    .stories-headline {
        color: #fff;
        font-weight: 800;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        line-height: 45px;
        top: 110px;
        z-index: 10;
        margin-top: 30px;

        @media only screen and (max-width: 768px) {
            line-height: 30px;
            font-size: 16px;
        }
    }

    .stories-sub-headline {
        color: #fff;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 25px;
        z-index: 10;
        margin-top: 25px;

        @media only screen and (max-width: 768px) {
            line-height: 30px;
            font-size: 16px;
        }
    }

    .layer-bg {
        position: absolute;
        top: 0px;
        z-index: 5;
        width: 100% !important;
        height: 100%;
        left: 0px;
        // background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
        background: linear-gradient(rgba(23, 35, 205, 0.3), rgba(23, 35, 205, 0.3));
        border-radius: 20px;
        backdrop-filter: blur(1px);
    }

    .image-number-border {
        border: solid 3px #fff;
        border-radius: 5px;
        width: 100px;
        z-index: 30;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.2 !important;
}