.Right-box {
    .box {
        border: 1px solid #E5E5E5;
        width: 100%;
        height: auto;
        border-right: 0px;
        // position: fixed;
        // right: 0;
    }

    .box-content {
        padding: 16px;

        .mostOnFrruitBox {
            width: 100%;
            background-color: #E8ECFB99;
            padding: 12px 24px;
            border-radius: 15px;
            cursor: pointer;
        }

        .text {
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            line-height: 14.06px;
            color: #6F7387;
        }

        .title {
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 18.75px;
            color: #171E42;
        }

        .viewAllTeaxt {
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            line-height: 16.41px;
            color: #4563E4;
            cursor: pointer;
        }

        .newsBox {
            width: 100%;
            margin-bottom: 5px;

            .newsTitle {
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 14.06px;
                color: #171E42;
                margin-bottom: 10px;
            }

            .newsPara {
                font-weight: 400;
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                line-height: 14.06px;
                color: #6F7387;
            }
        }
    }
}

.viewModal {
    .header-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        color: #171E42;
    }

    .modal-content {
        border: 0px;
        box-shadow: 0px 0px 20px 0px #0000001A;
    }

    .modal-dialog-scrollable .modal-content {
        max-height: 80%;
        overflow: hidden;
    }

    .modal-header {
        display: block;
        padding-bottom: 0px;
    }

    .modal-body {
        padding-top: 0px;
    }

    .blue-box {
        padding: 8px 8px;
        background-color: #F1F4FD;
        color: #6F7387;
        border-radius: 15px;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}