.about-airrchip-css{
    .about-airrchip-text {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        font-family: 'Roboto', sans-serif;
        color: #4563E4;
        margin-bottom: 20px;
    }

    .text-heading {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24.44px;
        color: #171E42;
        margin: 2px 0;
    }

    .text-subheading {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: #6F7387;
        margin-bottom: 12px;
    }
}