.BottomSearchBar {
    position: absolute;
    // background-color: white;
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 15px;
    bottom: 0;
    width: 75%;

    @media only screen and (max-width: 768px) {
        width: 75%;
    }
    @media only screen and (max-width: 500px) {
        width: 100%;
        background-color: white;
    }

    // left: 50%;
    // transform: translate(-50%, 0%);

    .attachment {
        border-radius: 15px;
        background: #E5EAFF;
        height: 56px;
        padding: 6px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background: #ced8ff;
            transition: 0.3s ease-in;
        }

        .attach-text {
            color: #4563E4;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 10px;
        }

        .img-styles {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    .linkUrl {
        border-radius: 15px;
        background: #E9E7FD;
        height: 56px;
        padding: 6px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background: rgb(207, 216, 255);
            transition: 0.3s ease-in;
        }

        .linkUrl-text {
            color: #7367F0;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 10px;
        }

        .img-styles {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    .form-group {
        width: 100%;

        .form-control-suggestion {
            border-radius: 0 0 15px 15px;
            border: 1px solid #4563E4;
            background: #F1F4FD;
            height: 56px;
            padding: 6px 16px 6px 160px;
            width: 100%;
        }

        .form-control {
            border-radius: 15px;
            border: 1px solid #4563E4;
            background: #F1F4FD;
            height: 56px;
            padding: 6px 16px;
        }

        .form-control-newsTab {
            border-radius: 15px;
            border: 1px solid #4563E4;
            background: #F1F4FD;
            height: 56px;
            padding: 6px 16px 6px 160px;
            width: 100%;
        }

        .form-control-suggestion:focus {
            outline: none;
        }

        .form-control-newsTab:focus-visible {
            outline: none;
        }
    }

    .sendIcon {
        .sendIcon-styles {
            background: #F5F5F6;
            width: 67px;
            height: 56px;
            object-fit: contain;
            border-radius: 15px;
            cursor: pointer;
        }
    }

    .customTab-frruit-gpt {
        margin-bottom: 10px;

        .tab-name-css {
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
            color: #4563E4;
            padding: 10px 20px;
            border-radius: 6px, 6px, 0px, 0px;
        }

        .tab-box-css {
            border-bottom: 2px solid #4563E4 ;
            border-radius: 6px 6px 0 0;
        }
    }

    .show-suggestions {
        position: absolute;
        bottom: 16px;
        left: 20px;

        .suggestions-text {
            font-size: 15px;
            color: #171E42;
            font-weight: 400;
        }

        .show-suggestions-checkbox {
            height: 18px;
            width: 18px;
            margin-right: 8px;
        }
    }

    .suggestions-box {
        z-index: 99;
        position: absolute;
        bottom: 76px;
        left: 20px;
        padding: 16px;
        padding-bottom: 0;
        border-radius: 15px 15px 0 0;
        background-color: #F9FAFF;
        border: 1px solid #4563E4;
        width: calc(100% - 122px);

        .text-box {
            background-color: #F1F4FD;
            padding: 8px 16px 8px 16px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            cursor: pointer;
        }
    
        .suggestions-text {
            color: #6F7387;
            font-size: 13px;
            font-weight: 500;
        }
    }

    .form-check-input {
        background-color: #F2F4F7 !important;
        height: 20px !important;
        width: 32px;
        margin-top: 2px;
        margin-right: 10px;

        @media only screen and (max-width: 500px) {
            font-size: 12px;
        }
    }

    .form-check-input:focus{
        box-shadow: none;
    }

    .form-check-input:checked {
        border-color: #2CC877 !important;
        background-color: #2CC877 !important;
    }

    .checkbox-position{
        position: absolute;
        top: 16px;
        left: 16px
    }

    .web-search-active{
        color: #4563E4;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .web-search-default{
        color: #6F7387;
        font-weight: 500;
        margin-bottom: 6px;
    }
}