.ChatGpt {
    position: sticky;
    overflow-y: scroll;

    .default-screens-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 200px;

        @media only screen and (max-width: 1024px) {
            padding: 0px 70px;
        }

        .default-screens-content-img-css {
            width: 251.5px;
            height: 198.42px;
            object-fit: contain;

            @media only screen and (max-width: 500px) {
                padding-top: 70px;
            }

        }

        .help-text {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            color: #171E42;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .prompts-text-bg {
            border-radius: 15px;
            background: #F5F5F6;
            padding: 16px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            min-height: 68px;
        }

        .prompts-text {
            color: #6F7387;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            text-align: left;
            width: 90%;

        }

        .default-para-text {
            color: #6F7387;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            line-height: 18.75px;
            padding: 0px 100px;

            @media only screen and (max-width: 500px) {
                padding: 0px 15px;
            }
        }
    }

    .slick-track {
        margin-left: inherit;
    }

    .rightChat {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 20px;
        width: 60%;
        @media only screen and (max-width: 500px) {
            width: 70%;
        }

        .profile-styles {
            width: 57px;
            height: 57px;
            object-fit: contain;
            border-radius: 50%;
            border: 1px solid #4563E4;
        }

        .floatRight {
            .arrow {
                width: 14.69px;
                height: 10px;
                object-fit: contain;

            }

            .you-text {
                color: #6F7387;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            }


        }

        .chat-text-container {
            border-radius: 15px;
            background: #F1F4FD;
            padding: 12px 16px;
            margin-bottom: 20px;

            @media only screen and (max-width: 500px) {
                margin-left: 20px;
            }

            .chat-text {
                color: #6F7387;
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                margin-bottom: 0px;
                // text-align: right;
            }

            .attached-doc-white-box {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-radius: 15px;
                padding: 5px 10px;
                width: max-content;
                margin-right: 5px;
                margin-bottom: 5px;

                .pdf-name {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    color: #4563E4;

                    @media only screen and (max-width: 500px) {
                        max-width: 200px;
                        word-wrap: break-word;
                    }
                }

                .attached-image {
                    width: 44px;
                    object-fit: contain;

                    @media only screen and (max-width: 500px) {
                        width: 30px;
                        margin-right: 10px;
                    }
                }
            }


        }
    }

    .leftChat {
        margin-left: 20px;
        padding-right: 50px;

        @media only screen and (max-width: 500px) {
            padding-right: 20px;
        }

        .profile-styles {
            width: 45px;
            height: 45px;
            object-fit: contain;

        }

        .floatLeft {
            .arrow {
                width: 14.69px;
                height: 10px;
                object-fit: contain;
            }

            .you-text {
                color: #6F7387;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            }


        }

        .stock-list {
            border-radius: 12.764px;
            background: #F1F4FD;
            display: flex;
            padding: 13.615px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;

            .image-stock {
                border-radius: 8.509px;
                border: 0.851px solid #E5E5E5;
                background: #FFF;
                padding: 4.255px 8.51px 3.404px 10.211px;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                }
            }

            .stock-text {
                margin-left: 14px;

                .stock-title {
                    color: #171e42;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                }

                .stock-subTitle {
                    color: #6F7387;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    margin-right: 8px;
                    margin-bottom: 0px;
                }

                .stock-price-green {
                    color: #28C76F;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    margin-right: 8px;
                    margin-bottom: 0px;
                }

                .stock-price-red {
                    color: #EA5455;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    margin-right: 8px;
                    margin-bottom: 0px;
                }

                .arrow {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }

            .button-stock-list {
                display: grid;
                gap: 8px;

                .btn-green-buy {
                    border-radius: 42.547px;
                    background: #28C76F;
                    padding: 4px 30px;
                    border: 0px solid;
                    color: white;
                    line-height: normal;
                    font-size: 14px;
                }

                .btn-red-sell {
                    border-radius: 42.547px;
                    background: #EA5455;
                    padding: 4px 30px;
                    border: 0px solid;
                    color: white;
                    line-height: normal;
                    font-size: 14px;
                }
            }
        }

        .graphSlider {
            .slick-slide {
                padding-right: 10px !important;
            }

            .chartGraph {
                border-radius: 25px;
                border: 1px solid #EDEDED;
                background: #F1F4FD;
                padding: 16px;
                margin-right: 10px;
                margin-bottom: 20px;

                @media only screen and (max-width: 500px) {
                    padding: 10px;
                }

                .title {
                    color: #171E42;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }

        .fundamental-container {
            margin-bottom: 20px;

            .fundamental-maintitle {
                color: #171E42;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .fundamental {
                border-radius: 15px;
                background: #F1F4FD;
                padding: 12px 16px;
                margin-right: 5px;
                // display: flex !important;
                // align-items: center;
                // justify-content: center;
                // flex-direction: column;
                // width: max-content !important;

                .fundamental-title {
                    color: #6F7387;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 22px;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .fundamental-value {
                    text-align: center;
                    color: #6F7387;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 0px;
                }
            }
        }

        .chat-text-container {
            margin-bottom: 20px;

            .chat-text {
                color: #6F7387;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 0px;
                text-align: left;
            }
        }
    }

    // .sourceCardCss {
    //     padding: 16px;
    //     background-color: #F1F4FD;
    //     width: 250px;
    //     border-radius: 12px;

    //     .Dflex-css {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;

    //         .companyNameCss {
    //             font-size: 14px;
    //             font-weight: 500;
    //             line-height: 18px;
    //             color: #6F7387;
    //         }

    //         .smallCircleLogoCss {
    //             width: 24px;
    //             height: 24px;
    //             object-fit: contain;
    //         }
    //     }
    // }
    .companyCardSTyleCss {
        .cardContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
        }

        .sourceCardCss {
            padding: 16px;
            background-color: #F1F4FD;
            width: 260px;
            border-radius: 12px;
            margin-right: 15px;
            cursor: pointer;
            text-decoration: none;
            align-self: stretch;
        }

        .Dflex-css {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .companyNameCss {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            color: #171E42;
        }

        .smallCircleLogoCss {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .d-flex {
            display: flex;
        }

        .align-items-center {
            align-items: center;
        }

        .me-2 {
            margin-right: 0.5rem;
        }
    }
}

.sources-date {
    font-size: 12px;
    font-weight: 500;
    color: #6F7387;
}

.sources-time {
    font-size: 10px;
    font-weight: 500;
    color: #6F7387;
}

::-webkit-scrollbar {
    width: 5px;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: #4563E4;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4563E4;
}