.login {
    margin: 50px;

    @media only screen and (max-width: 500px) {
        margin: 20px !important;
    }

    .login-page {
        height: 100%;
    }

    .login-form {
        padding: 64px;
        background-color: #F1F4FD;
        border-radius: 45px;

        @media only screen and (max-width: 500px) {
            padding: 50px 20px !important;
        }
    }

    .login-form1 {
        padding: 40px 64px;
        background-color: #F1F4FD;
        border-radius: 45px;

        @media only screen and (max-width: 500px) {
            padding: 50px 20px !important;
        }
    }

    .loginText {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #4563E4;
    }

    .form-label {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #6F7387;
    }

    .form-control {
        height: 56px;
        border: 1px solid #BDC3DD;
        box-shadow: none;
    }

    .btnPrimary {
        background-color: #4563E4;
        color: #FFFFFF;
        border: none;
        border-radius: 27.5px;
        width: 224px;
        height: 44px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
    }

    .btnSecondary {
        border-radius: 27.5px;
        border: 1px solid #4563E4;
        color: #4563E4;
        height: 44px;
        width: 224px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
    }

    .horizontalLine {
        border: 1px solid #C6C6C6
    }

    .nineone-input {
        width: 15%;
        text-indent: 13px;
        color: black;

        @media only screen and (max-width: 500px),
        (max-width: 786px),
        (max-width: 1024px) {
            text-indent: 0px;
        }
        @media only screen and (max-width: 500px) {
            width: 25%;
            text-align: center ;
        }
    }

    .imagecontainer {

        @media only screen and (max-width: 786px),
        (max-width: 1024px) {
            display: none !important;
        }
    }

    .verificationBox {
        height: 48px;
        width: 56.68px;
        border-radius: 8px;
        border: 1px solid #DBDADE;

        @media only screen and (max-width: 500px) {
            // margin-right: 0 !important;
            height: 40px;
            width: 40px;
        }
    }   

    .verificationBox:hover {
        border: 1px solid #4563E4;
    }

    .verificationBox:focus-visible {
        box-shadow: none !important;
        border: 1px solid #4563E4 !important;
        // background-color: #F1F4FD;
        color: #6F7387;
        font-family: 'Roboto', sans-serif;
    }


    .verification {
        margin-top: 38px;
    }

    // a {
    //     text-decoration: none;
    // }

    ::placeholder {
        color: #6F7387;
    }

    .privacyText {
        font-size: 12px;
        font-weight: 400;
        color: #6F6B7D;
        margin: 0;
        margin-top: 40px;
    }
}