.stockpricescroll{
    .text1{
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16.71px;
        color: #6F7387;
    }
    .text2{
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16.71px;
        color: #28C76F;
    }
    .text2red{
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16.71px;
        color: #EA5455;
    }
}