.selectmarket-css {
    margin: 50px;

    .selectMarket {
        background-color: #F1F4FD;
        border-radius: 45px;
        padding: 25px;
        margin: 0 25px;

        .heading {
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
            color: #4563E4;
        }

        .text-description {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #6F7387;
            margin-top: 20px;
        }
    }

    .showPrompt {
        margin-top: 20px;
        width: 290px;
        margin-bottom: 20px;

        .customPrompttabs {
            border: 1px solid #4563E4;
            border-radius: 50px;
            background: #E5EAFF;
            border: 0px;
            padding: 5px;
            align-items: center;
            justify-content: space-between;
        }

        .nav-pills {
            border: 1px solid #4563E4
        }

        .nav-pills .nav-link {
            padding: 10px 50px;
            border-radius: 50px !important;
        }

        .nav-pills .nav-link.active {
            border: 0px !important;
            border-radius: 50px !important;
            background-color: #4563E4 !important;
            color: white;
        }
    }

    .beta-text {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18.75px;
        color: #171E42;

        .nifty-text {
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 18.75px;
            color: #4563E4;
        }
    }

    .disclaimer {
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        color: #171E42;
        margin-bottom: 8px;
    }
    .disclaimer-para{
        font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #6F7387;
    }


}