.profile-css {
    .right-part {
        padding: 20px;
    }

    .welcome-text {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18.75px;
        color: #4563E4;
    }

    .user-text {
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28.13px;
        color: #4563E4;
    }

    .blue-box {
        // background: linear-gradient(180deg, #5575FF 0%, #3F5AD1 136.52%);
        background-image: url(../../assets/images/blue-card-bg-img.png);
        background-repeat: no-repeat;
        background-size:cover;
        padding: 16px;
        border-radius: 15px;
    }
    .text-1{
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 21.09px;
        color: #fff;
    }
    .text-2{
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 14.06px;
        color: #fff;
    }
    .text-3{
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        line-height: 37.5px;
        color: #fff;
    }
    .text-4{
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28.13px;
        color: #fff;
    }
    .light-blue-box{
        padding: 4px 27px;
        background: #FFFFFF33;
        border-radius: 10px;
    }
    .profile-title{
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        line-height: 21.09px;
        color: #171E42;
    }
}