@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// .row>* {
//   padding: 0px !important;
// }

p {
  margin-bottom: 0px;
}

.column-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

//search box css start
.form-control-search {
  // height: 44px !important;
  border-radius: 20px !important;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  border: 1px solid #EDEDED;
  background-color: #F1F4FD;
  color: #6F7387;
  text-indent: 33px;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  // @media only screen and (max-width: 992px) {
  //   margin-bottom: 20px;
  // }
}

.form-control-search:focus {
  box-shadow: none;
  border-color: #EDEDED !important;
  background-color: #F1F4FD;
  color: #6F7387;
  font-family: 'Roboto', sans-serif;
}

.form-control-search:focus-visible {
  box-shadow: none !important;
  border-color: #EDEDED !important;
  background-color: #F1F4FD;
  color: #6F7387;
  font-family: 'Roboto', sans-serif;
}

//search box css end


//input box css start
.form-control-input {
  // height: 44px !important;
  border-radius: 15px !important;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  border: 1px solid #BDC3DD;
  background-color: #Fff;
  color: #171E42;
  text-indent: 33px;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  // @media only screen and (max-width: 992px) {
  //   margin-bottom: 20px;
  // }
}

.form-control-label {
  color: #6F7387;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.form-control-input:focus {
  box-shadow: none;
  border: 1px solid #4563E4 !important;
  // background-color: #F1F4FD;
  color: #6F7387;
  font-family: 'Roboto', sans-serif;
}

.form-control-input:focus-visible {
  box-shadow: none !important;
  border: 1px solid #4563E4 !important;
  // background-color: #F1F4FD;
  color: #6F7387;
  font-family: 'Roboto', sans-serif;
}

//input box css end

//scroll tab btn css start
.scroll-tabs-btn {
  .nav-pills .nav-link.active {
    background-color: #4563E4;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 18px;
  }

  .nav-pills {
    width: max-content;
    // overflow-x: scroll;
  }

  .nav-pills .nav-link {
    border-radius: 50px;
  }

  .nav-pills .nav-link {
    background-color: #E5EAFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 18px;
  }
}

//scroll tab btn css end



// blue-btn start
.blue-btn {
  background-color: #4563E4;
  padding: 11px 16px;
  border: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
}
.secondary-btn {
  background-color: transparent;
  padding: 11px 16px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
}

//blue btn end

.White-btn {
  background-color: #fff;
  padding: 11px 16px;
  border: 0px;
  color: #4563E4;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
}

//light-blue-btn start

.light-blue-btn {
  background-color: #E5EAFF;
  padding: 7px 16px;
  border: 0px;
  color: #4563E4;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  width: max-content;
}

//light-blue-btn-end

//side box light blue btn start
.side-box-light-blue-btn {
  width: 100%;
  text-align: left;
  padding: 11px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  color: #6F7387;
  background-color: #F1F4FD;
  border: 0px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.side-box-light-blue-btn:hover {
  background-color: #E5EAFF;
  color: #4563E4;
}

.side-box-light-blue-btn:active {
  background-color: #E5EAFF;
  color: #4563E4;
}


//side box light blue btn end


// white-btn start
.white-btn {
  padding: 8px 22.44px;
  border: 0px;
  background-color: #fff;
  border-radius: 50px;
  // height: 32px;
  color: #4563E4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  font-family: 'Roboto', sans-serif;
}

// white-btn end

//modal css start
.modal-header {
  border-bottom: 0px;
}

.modal-footer {
  border-top: 0px;
}


//modal css end