.frruitGPTPageCss {
    .frruitGPTLeftBoxHideClass {
        @media only screen and (max-width: 600px) {
            display: none !important;
        }
    }

    .hide-on-large-screens {
        display: flex;
        justify-content: end;
        border-bottom: solid 1px #EDEDED;
        padding: 5px 0px;

        @media only screen and (min-width: 601px) {
            display: none;
        }

        .history-icon-css {
            width: 24px;
            object-fit: contain;
            cursor: pointer;
            margin-right: 15px;
        }
    }
}