.signup-css {

    // margin: 50px;
    .form-control-label {
        font-weight: 600;
    }

    .form-control-input {
        height: 48px;
    }

    .privacyText {
        margin-top: 24px;
    }

    .otpheader {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: #171E42;
        text-align: center;
        font-size: 26px;

        @media only screen and (max-width: 500px) {
            font-size: 20px;
            margin-top: 8px;
        }
    }

    .otpsubheader {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #6F7387;
        font-size: 18px;

        @media only screen and (max-width: 500px) {
            font-size: 12px;
        }

    }

    .phoneotpimg {
        width: 200px;
        object-fit: contain;
        cursor: 'pointer';

        @media only screen and (max-width: 500px) {
            width:120px;
        }

    }

    .number-text {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: #171E42;
        text-align: center;
        font-size: 16px;
        margin-right: 10px;
        margin-top: 2px;

        @media only screen and (max-width: 500px) {
            font-size: 12px;
            margin-top: 3px;
            margin-right: 5px;
        }
    }

    .typeheader {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #171E42;
        text-align: center;
        font-size: 18px;
    }

    .termsConditionText {
        font-family: "Roboto", sans-serif;
        color: blue;
        text-decoration: none;
        cursor: pointer;
    }

    .termsConditioncheckboxText {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #6F7387;
        // line-height: 16px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 1px;
    }

    .phone-number {
        width: 15%;
        text-indent: 13px;

        @media only screen and (max-width: 500px) {
            width: 20%;
            text-indent: 0;
        }
    }

    .signup-form {
        padding: 48px;
        background-color: #F1F4FD;
        border-radius: 45px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 600px;
        margin: 0px 60px;
        scrollbar-width: none;

        ::-webkit-scrollbar {
            display: none;
        }

        @media only screen and (max-width: 500px) {
            margin-top: 47px !important;
            padding: 30px 20px !important;
            margin: 15px;
            height: 500px;
        }
    }

    .followText {
        @media only screen and (max-width: 500px) {
            margin-top: 2px !important;
        }
    }

    .nineone-input {
        width: 19%;
        text-indent: 9px;
        color: black;

        @media only screen and (max-width: 500px),
        (max-width: 786px),
        (max-width: 1024px) {
            text-indent: 0px;
        }

        @media only screen and (max-width: 500px) {
            width: 25%;
            text-align: center;
        }
    }

    .form-select {
        border: 1px solid #BDC3DD;
        background-color: #ffffff;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .errorText {
        font-size: 13px;
        font-weight: 500;
        color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .error-feild {
        border: 1px solid red;
    }

    .email-img {
        position: absolute;
        left: 15px;
        top: 53%;
    }

    .email-error-img {
        position: absolute;
        left: 15px;
        top: 43%;
    }

    .checkboxRow {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .wrap-check-43 *,
    .wrap-check-43 ::after,
    .wrap-check-43 ::before {
        box-sizing: border-box;
    }

    .wrap-check-43 .cbx {
        position: relative;
        display: block;
        float: left;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background-color:
            #F1F4FD;
        border: solid 1px #6F7387;
        // background-image: linear-gradient(#474749, #616260);
        // box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
        transition: all 0.15s ease;
    }

    .wrap-check-43 .cbx svg {
        position: absolute;
        top: 3px;
        left: 3px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke:
            #fff;
        stroke-width: 2;
        stroke-dasharray: 17;
        stroke-dashoffset: 17;
        transform: translate3d(0, 0, 0);
    }

    .wrap-check-43 .cbx+span {
        float: left;
        margin-left: 6px;
    }

    .wrap-check-43 {
        user-select: none;
    }

    .wrap-check-43 label {
        display: inline-block;
        cursor: pointer;
    }

    .wrap-check-43 input[type="checkbox"] {
        display: none;
        visibility: hidden;
    }

    .wrap-check-43 input[type="checkbox"]:checked+.cbx {
        background-color:
            #F1F4FD;
        background-image: linear-gradient(#255cd2, #1d52c1);
        border: solid 1px #255cd2;
    }

    .wrap-check-43 input[type="checkbox"]:checked+.cbx svg {
        stroke-dashoffset: 0;
        transition: all 0.15s ease;
    }
}