.corporate-actions{

    .page-heading{
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color:#6F7387
    }

    .eventsbox{
        background-color: white;
        border: 1px solid #E5E5E5;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .main-heading{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color:#171E42
    }

    .right_arrow{
        width:7px;
        height:12px;
        margin-left: 8px;
        margin-top: 4px;
    }

    .announce_text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color:#6F7387
    }

    .date-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color:#171E42;
        text-align: right;
    }

}