.left-box {
    .box {
        border: 1px solid #E5E5E5;
        width: 100%;
        border-left: 0px;
        padding: 16px;
        position: sticky;
        left: 0;
        overflow-y: scroll;
        
    
    }

    .watchlistText {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18.75px;
        color: #171E42;
    }

    .scroll-tabs-btn {
        overflow: auto;
    }

    .scroll-tabs-btn::-webkit-scrollbar {
        background-color: transparent;
    }

    .stock-price-list {
        width: 100%;
        background-color: #E8ECFB99;
        height: 46px;
        padding: 12px 24px;
        border-radius: 15px;
    }

    .stock-name {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #171E42;
    }

    .ltp-text {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #6F7387;
    }

    .stock-price {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 22px;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }



    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #4563E4;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4563E4;
    }
   
}