.left-box {
    .box {
        border: 1px solid #E5E5E5;
        width: 100%;
        border-left: 0px;
        padding: 16px;
        position: sticky;
        left: 0;
        overflow-y: scroll;
    }

    .tab-css {
        background-color: #E5EAFF;
        border-radius: 50px;
        color: #4563E4;
        margin-right: 10px;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        background-color: #4563E4;
        border-radius: 50px;
        color: #fff;
    }

    .css-1aquho2-MuiTabs-indicator {
        position: absolute;
        height: 0px;
        bottom: 0;
        width: 100%;
        -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: #ffffff;
    }

    .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
        width: 18px;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        text-transform: unset;
    }

    .watchlistText {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18.75px;
        color: #171E42;
        margin-bottom: 20px;
    }

    .scroll-tabs-btn {
        overflow: auto;
    }

    .scroll-tabs-btn::-webkit-scrollbar {
        background-color: transparent;
    }

    .stock-price-list {
        width: 100%;
        background-color: #E8ECFB99;
        height: 46px;
        padding: 12px 24px;
        border-radius: 15px;
    }

    .stock-name {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #171E42;
    }

    .ltp-text {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #6F7387;
    }

    .stock-price {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 22px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #4563E4;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4563E4;
    }

}